.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto 20px auto;
    max-width: 600px;
    background-color: whitesmoke;
}
.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}
.avatar {
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 50%;
    max-width: 360px;
}
.name{
   margin-top: 0;
   margin-bottom: 20px;
   font-weight: bold;
   font-size: 36px;
}
.tag, .location {
    margin-top: 0px;
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 30px;
    color: gray;
}
.stats {
    display: flex;
}
.stat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type:none;
    min-width: 200px;
}
.label {
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 30px;
    color: grey;
}
.quantity {
    font-weight: bold;
    font-size: 30px;
    color:black;
}